<form  class="mt-5" [formGroup]="formLista" (ngSubmit) = submit(formLista.value)>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre de la lista</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nombre">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Descripcion</label>
      <input type="textArea" class="form-control" id="exampleInputPassword1" formControlName="descripcion">
    </div>
    <button type="submit" class="btn btn-primary" >Guardar</button>
  </form>
